<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.ackermansoftware.targetpractice"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="Target Practice">
        <activity android:name=".activities.TitleActivity"
                  android:label="Target Practice">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.TargetPractice"
                  android:label="Hit the Targets!">
        </activity>
        <activity android:name=".activities.WonGameActivity"
                  android:label="You Won!">
        </activity>

    </application>
    <uses-sdk android:minSdkVersion="7" />

</manifest> 